@import '../../styles/variables.scss';

@mixin row {
    padding: 0.25rem 0;
    display: block;
}

.Menu {
    color: $darkgray-color;

    hr {
        border-width: 0px;
        border-bottom: 1px solid $lightgray-color;
    }

    &__Link {
        @include row();
        color: inherit;
        text-decoration: none;

        &:hover, &.active {
            color: $active-color;
        }
    }


    &__examples {
        display: block;
        padding-bottom: 1rem;
    }

    &__Gist {
        color: $darkgray-color;
    }

    &__library {
        &-name {
            position: relative;
            color: $darkgray-color;
            font-weight: bold;
        }

        &-version {
            position: absolute;
            right: 0;
            top: 0.25rem;
            font-weight: normal;
            font-size: 0.6rem;
            border: 1px solid $lightgray-color;
            padding: 0.2rem;
            border-radius: 0.1rem;
        }
    }

    &__group {
        padding-bottom: 0.5rem;

        &-name {
            color: $lightgray-color;
            @include row();
        }
    }

    &__item {
        display: block;
        color: $darkgray-color;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            color: $active-color;
        }
    }

}