.Playground {
    display: flex;
    width: 900px;

    &__editor{
        flex: 0 0 auto;
        flex-basis: 440px;
    }

    &__chart{
        flex: 0 0 auto;
        flex-basis: 460px;
        box-sizing: border-box;
    }
}
