.Editor {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;

    .Gutter {
        box-sizing: border-box;
        font-size: 12px;
        line-height: 16px;
        position: absolute;
        top: 6px;
        left: 0;
        bottom: 0;
        overflow: hidden;
        background: #2f3129;

        div {
            color: #8F908A;
            text-align: right;
            padding-right: 6px;
        }
    }

    .LoadingIndicator {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }

    // matching editor style
    pre[class*=language-] {
        min-height: 7rem;
        padding: 6px 0 0 0.5rem;
        background: #272722;
        color: #f8f8f2;
        margin: 0;
        font-size: 12px;
        line-height: 16px;

        > code[class*=language-] {
            padding: 0;
            font-size: 12px;
            line-height: 16px;
        }
    }

}
