@import "../../node_modules/normalize.css/normalize.css";
@import "./typography.scss";
@import "./pageBlock.scss";
@import "./editor.scss";

body { 
    font-family: sans-serif;
    background: #fefefe;
    font-size: 16px;
}

html, body, #__next {
    height: 100%;
}

// NOTE: currently when rendered by google crawler -- an error is thrown, and
// that error hovers whole application
// _next > pre {
//     top: auto!important;
//     max-height: 10rem!important;
//     overflow: auto!important;
// }