@import "../../node_modules/normalize.css/normalize.css";
@import "./typography.scss";
@import "./pageBlock.scss";
@import "./editor.scss";

body { 
    font-family: sans-serif;
    background: #fff;
    font-size: 16px;
}

html, body, #__next {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;

    &:focus {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        overflow: visible;
        clip: auto;
        white-space: normal;
    }
}

// NOTE: currently when rendered by google crawler -- an error is thrown, and
// that error hovers whole application
// _next > pre {
//     top: auto!important;
//     max-height: 10rem!important;
//     overflow: auto!important;
// }