@import "./variables.scss";

.PageBlock {
    display: block;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;

    a {
        color: #00a7f7;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        display: block;
        color: #3f4a56;
        padding: 0 0 0 1rem;
        border-left: 3px solid #a9a9a9;
        margin: 0;
    }

    code:not(.SSRPlayground__Code) {
        padding: 0 5px;
        white-space: normal;
        font-family: Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
        background-color: #eff0f1;
    }

    img {
        max-width: 100%;
    }

    @media screen and (max-width: $max-mobile-screen-width) {
        padding: 0 0.5rem;
    }
}