@import "./variables.scss";

.PageBlock {
    display: block;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #222;

    a {
        color: #00a7f7;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    blockquote {
        display: block;
        color: $darkgray-color;
        padding: 0.25rem 0.5rem;
        border-left: 0.25rem solid #c5c5c5;
        margin: 0;
        font-style: italic;
    }

    code {
        padding: 0 5px;
        white-space: normal;
        font-family: Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
        background-color: #eff0f1;
    }

    @media screen and (max-width: $max-mobile-screen-width) {
        padding: 0 0.5rem;
    }
}