// colors
$dark-color: #333;
$darkgray-color: #757575;
$gray-color: #999;
$lightgray-color: #c5c5c5;
$active-color: #04a9f4;
$active-color-darker: #1887b9;
$secondary-color: #e128ff;

$twitter-link-color: #1da1f2;
$github-link-color: #000;
$github-link-hover-color: #800;
$githubstar-link-color: #ff9800;
$create-link-color: #00cc66;


// sizes
$min-desktop-screen-width: 780px;
$max-mobile-screen-width: $min-desktop-screen-width - 1;