// colors
// grays
$dark-color: #333;
$darkgray-color: #555;
$gray-color: #757575;
$lightgray-color: #aaa;

// semantic colors
$active-color: #009adf;
$active-color-darker: #167ba8;
$secondary-color: #e128ff;

$twitter-link-color: #1da1f2;
$github-link-color: #000;
$github-link-hover-color: #800;
$githubstar-link-color: #ff9800;
$create-link-color: #00cc66;
$linkedin-link-color: #0067b1;


// sizes
$min-desktop-screen-width: 780px;
$max-mobile-screen-width: $min-desktop-screen-width - 1;