@import '../styles/variables.scss';

@mixin row {
    padding: 0.25rem 0;
    display: block;
}

.Menu {
    color: $darkgray-color;

    &__examples {
        display: block;
        padding-bottom: 1rem;
    }

    &__library {
        &-name {
            @include row();
            color: $lightgray-color;
            border-bottom: $lightgray-color 1px solid;
        }

        &-version {
            float: right;
            font-weight: normal;
            font-size: 0.6rem;
            border: 1px solid $lightgray-color;
            padding: 0.2rem;
            border-radius: 0.1rem;
        }
    }

    &__group {
        padding-bottom: 1rem;

        &-name {
            color: $lightgray-color;
            @include row();
        }
    }

    &__item {
        @include row();
        display: block;
        color: $darkgray-color;
        text-decoration: none;
        white-space: nowrap;

        &_active{
            color: $active-color;
        }

        &:hover {
            color: $active-color;
        }
    }

}