@import '../../styles/variables.scss';

.Sidebar {
    @media screen and (min-width: $min-desktop-screen-width) {
        margin-top: 1.34rem; // same as h1 in the contents section margin 
    }

    &__DesktopSideMenuHeader {
        @media screen and (max-width: $max-mobile-screen-width) {
            display: none;
        }
    }

    &__Social {
        padding: 0.5rem 0;
    }

    &__twitter-link {
        display: block;
        color: $darkgray-color;
        padding: 0.25rem 0;
        text-decoration: none;

        &:hover {
            color: $twitter-link-color;
        }
    }

    &__github-link {
        display: block;
        color: $darkgray-color;
        padding: 0.25rem 0;
        text-decoration: none;

        &:hover {
            color: $github-link-color;
        }
    }

}