@import '../../../styles/variables.scss';

.Placeholder {
    min-height: 7rem;
    position: relative;
    padding-bottom: 3rem;

    @media screen and (max-width: $max-mobile-screen-width) {
        margin-bottom: 1rem;
    }

    @media screen and (min-width: $min-desktop-screen-width) {
        margin-left: 0.5rem;
    }
}

.Download {
    position: absolute;
    right: 2px;
    bottom: 0;
    border: 0;
    background: none;
    color: $lightgray-color;

    &:hover, &:focus {
        color: $darkgray-color;
        cursor: pointer;
    }

    &:active {
        margin-bottom: -1px;
    }

    &:focus {
        outline: 2px solid #107DFA;
    }

    &:focus, &:hover {
        .DownloadHint {
            visibility: visible;
        }
    }
}

.DownloadHint {
    visibility: hidden;
}
