@import '../../../styles/variables.scss';

$stroke-color: #333333;
$stroke-width: 2px;

.TimeLineChartComponent {
    .axis {
        &.axis--x {
            line{
                stroke: $lightgray-color;
            }
            
            path{
                stroke: $lightgray-color;
            }
            
            text{
                fill: $lightgray-color;
            }
        }
    }

    .thread {
        line {
            stroke: $stroke-color;
            stroke-width: $stroke-width;
        }

        .event {
            circle {
                stroke: $stroke-color;
                stroke-width: $stroke-width;
            }

            text {
                font-size: 14px;
                font-family: "Source Sans Pro", sans-serif;
                user-select: none;
            }
        }
    }
}