// based on loader from https://loading.io/css/

$size: 12px;

.root {
    display: inline-block;
    position: relative;
    width: 64px;
    height: $size;
    z-index: 1;

    span {
        position: absolute;
        top: 0;
        width: $size;
        height: $size;
        border-radius: 50%;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            background: #03a9f4;
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
            background: #ffeb3b;
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
            background: #8bc34a;
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
            z-index: 1;
        }

        &:nth-child(4) {
            background: #ff9800;
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}