@import './styles/variables.scss';

.App {
    width: 1200px;
    margin: auto;

    &__header {
        padding: 20px 0 14px;
    }

    &__logo {
        &_main {
            font-weight: bold;
        }
        font-family: sans-serif;
        color: $darkgrey-color;
        text-decoration: none;

        &:hover {
            .App__logo_main {
                color: $active-color;
            }
        }
    }
}