@import './styles/default.scss';
@import './styles/variables.scss';

$leftmenu-width: 10rem;

.App {
    max-width: 1600px;
    @media screen and (min-width: $min-desktop-screen-width) {
        padding: 0 2rem;
    }

    box-sizing: border-box;
    margin: auto;

    &__MobileHeader {
        display: flex;
        font-size: 1.2rem;
        padding: 0.75rem 0.5rem 0.25rem;
        line-height: 1.5rem;
        vertical-align: middle;

        @media screen and (min-width: $min-desktop-screen-width) {
            display: none;
        }
    }

    &__header-spring {
        flex-grow: 1;
    }

    &__MobileMenuSwitch {
        @media screen and (min-width: $min-desktop-screen-width) {
            display: none;
        }

        padding: 2px;
        background: none;
        border: none;
        padding-right: 0.5rem;
        margin-right: 1rem;

        &.active {
            color: $active-color;
        }
    }

    &__logo {
        font-family: sans-serif;
        color: $darkgray-color;
        text-decoration: none;

        &_main {
            font-weight: bold;
        }

        &:hover, &.active {
            .App__logo_main {
                color: $active-color;
            }
        }
    }

    &__twitter-link {
        color: $darkgray-color;
        margin-right: 1rem;
        padding: 0 0.25rem;

        &:hover {
            color: $twitter-link-color;
        }
    }

    &__github-link {
        color: $darkgray-color;
        padding: 0 0.25rem;

        &:hover {
            color: $github-link-color;
        }
    }

    &__body {
        display: flex;
        flex-direction: row-reverse;
        overflow: auto;

        @media screen and (min-width: $min-desktop-screen-width) {
            padding-top: 1rem;
        }
    }

    &__contents {
        flex-grow: 1;

        // might be hindden only on mobile
        &.hidden {
            @media screen and (max-width: $max-mobile-screen-width) {
                display: none;
            }
        }
    }

    &__menu {
        @media screen and (max-width: $max-mobile-screen-width) {
            display: none;
            font-size: 1.2rem;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 3rem;
            background: #fafafa;
            overflow: auto;
            z-index: 1000;
            padding: 0.5rem 1rem 2rem;

            &.visible {
                display: block;
            }
        }

        @media screen and (min-width: $min-desktop-screen-width) {
            flex: 0 0 auto;
            flex-basis: $leftmenu-width;
            max-width: $leftmenu-width;

            box-sizing: border-box;
            padding-right: 1rem;
            padding-left: 0.25rem;
        }
    }
}